.ant-picker-suffix > span ,.ant-input-textarea-suffix >span , .ant-input-suffix > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-steps-item-icon > span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}

.ant-picker-separator > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsible > div > div > label::before {
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: "*";
}